<div class="content cf main-content">
  <div class="breadcrumbs">
    <a href="/">Главная</a>
    <span class="arrow"> ></span>
    <span class="last">Полезное</span>
    </div>

  <div>
    <h1>Полезное</h1>

    <%- for post in @blog_posts %>
      <div class="blog-item">
        <%- unless post.preview_img.thumb.blank? %>
          <div class="blog-img">
            <%= image_tag post.preview_img.thumb.url %>
           </div>
        <% end %>
        <div class="blog-item_content">
          <h3 class="blog-item_title"><%= post.title %></h3>
          <p><%= post.preview %></p>
          <%= link_to 'Читать далее >', post, class: 'blog-item_more' %>
        </div>
      </div>
    <% end %>
    <%= paginate @blog_posts %>
  </div>
</div>
