<div class="content cf">
  <div class="breadcrumbs">
    <a href="/">Главная</a>
    <span class="arrow">></span>
    <a href="/projects">Проекты</a>
    <span class="arrow">></span>
    <span class="last"><%= @project.title %></span>
  </div>
</div>
<div class="content cf">
  <h1><%= @project.title %></h1>
  <div class="project-container cf text_content">
    <%= raw @project.content %>
  </div>
  <%- unless @photos.empty? %>
    <div class="project-gall">
      <h2>Фотографии проекта</h2>

      <div class="swiper-container project-gall-container" data-prodject-gal>
        <div class="swiper-wrapper project-gall-wrapper">
          <%- for image in @photos %>
            <div class="swiper-slide">
              <a class="fancybox" href="<%= image.url %>" style="background-image: url('<%= image.thumb %>');">
              </a>
            </div>
          <% end %>
        </div>
          <div class="swiper-button-prev project-gall-prev" data-prodject-gall-prev></div>
          <div class="swiper-button-next project-gall-next" data-prodject-gall-next></div>
       </div>
    </div>
  <% end %>
</div>
